[Unit]
Description=TADA! a tiny deploy agent
After=network.target docker.service
Wants=docker.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/agent

ExecStart=/usr/local/bin/bun run agent.ts 3000

Restart=always
RestartSec=5

# 环境变量（可选）
Environment=NODE_ENV=production
Environment=AGENT_CONFIG=/opt/agent/config.json

# 安全收紧（推荐）
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
